<div class="row">
    <div class="col-lg-12 bg-light">
      <form id="taskForm" name="taskForm" ng-submit="createTask()" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default bg-light">
                <div class="panel-body bg-light">
                  <h3>New task for group: {{group.name}}</h3>
                  <div class="form-group">
                    <label>Task name:</label>
                    <input class="form-control" name="taskname" placeholder="Enter task name" ng-model="task.name" required>
                    <div ng-show="!task.name && taskForm.$submitted" class="alert alert-warning">
                      This field is required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="panel panel-default bg-light">
                <div class="panel-body bg-light" style="overflow: auto;">
                  <h3>Add users to task</h3>
                  <div class="row">
                    <div class="col-md-9">
                      <h4>Available users:</h4>
                      <div><label>Search:</label> <input type="text" ng-model="search.fullName"></div>
                    </div>
                  </div>
                  <p ng-if="users.length===0||!users">No users available</p>
                  <div class="row">
                    <div class="col-md-4" ng-repeat="user in users | filter:search">
                      <div class="panel-body">
                        <h5><span class="glyphicon glyphicon-asterisk"></span> Name: {{user.fullName}}</h5>
                        <p ng-if="user.email">Email: {{user.email}}</p>
                        <a href="" ng-click="addToUsersList(user.index)"><span class="glyphicon glyphicon-plus" style="color:green; align:right;"></span></a>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12" ng-show="selectedUsers.length!=0">
                      <h4>Selected users</h4>
                      <div class="row">
                        <div class="col-md-4" ng-repeat="user in selectedUsers">
                          <div class="panel-body">
                            <h5><span class="glyphicon glyphicon-asterisk"></span>Name: {{user.fullName}}</h5>
                            <p ng-if="user.email">Email: {{user.email}}</p>
                            <a href="" ng-click="removeFromUsersList($index)"><span class="glyphicon glyphicon-minus" style="color:red;"></span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" align="left" style="margin-right: 1em;">
                      <input class="btn btn-success btn-lg" type="submit" value="Create"/>            
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>