<!DOCTYPE html>
<html>
	<body>
		<div class="row">
			<div class="col-lg-12">
				<div class="card text-white bg-info">
					<div class="card-header">
						<h1 class="text-center">To-Do App</h1>
					</div>
          <div class="row">
						<div class="card-body col-md-8 bg-light text-dark"><h4 class="text-center">Activities</h4></div>
            <div class="card-body col-md-2 bg-light text-dark"><button class="btn btn-secondary" ng-click="userModal()"><span class="glyphicon glyphicon-user"></span> Create user</button></div>
            <div class="card-body col-md-2 bg-light text-dark"><button class="btn btn-secondary" ng-click="tasksGroupModal()">Create a Tasks group</button></div>
          </div>
				</div>
			</div>
    </div>

    <div class="row">
      <div ng-if="tgroups.length==0" class="col-lg-12">
        <h2 style="text-align: center;">There is no Tasks group yet.</h2>
      </div>
      <div class="col-md-4" ng-repeat="group in tgroups">
        <div class="card o-hidden h-100">
          <div class="card-head bg-success">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-group"></i>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <h2>{{group.name}}</h2>
                <p ng-if="group.description">{{group.description}}</p>
              </div>
              <div class="col-sm-4">
                <div class="center-block">
                  <button class="btn btn-success btn-sm" ng-click="taskCreateModal(group)"><span class="glyphicon glyphicon-tasks"></span> Add task</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body bg-light">
            <div class="row" ng-repeat="task in group.tasks">
              <div class="col-md-8">
                <span class="glyphicon glyphicon-asterisk"></span> <b>{{task.name}}</b>
                <p>Status: {{task.status}} 
                  <span ng-if="task.status=='Open'" class="badge bg-danger">O</span>
                  <span ng-if="task.status=='In-Progress'" class="badge bg-info">I</span>
                  <span ng-if="task.status=='Completed'" class="badge bg-success">C</span>
                  <span ng-if="task.status=='Archived'" class="badge bg-dark text-white">A</span>
                </p>
              </div>
              <div class="col-md-4">
                <button ng-click="taskModal(task)" class="btn btn-info btn-sm">Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>
